web/node_modules/*
.idea/*
web/.idea/*
node/*
*.exe
web/components/*
!web/components/ractive/release/*
!web/components/bootstrap/dist/*
!web/components/basket/dist/*
!web/components/CryptoJSv3.1.2/*
