web/node_modules/*
.idea/*
web/.idea/*
node/*
*.exe
!web/components/

web/components/*
!web/components/ractive
!web/components/bootstrap
!web/components/basket.js
!web/components/CryptoJSv3.1.2

web/components/ractive/*
!web/components/ractive/release/

web/components/bootstrap/*
!web/components/bootstrap/dist/

web/components/basket.js/*
!web/components/basket.js/dist/

web/components/CryptoJSv3.1.2/*
!web/components/CryptoJSv3.1.2/rollups

